{% extends 'layout/blog/base.html' %}
{% load static %}

{% block site_title %} Blog Posts - Blog Unchained {% endblock %}

{% block main_content %}

	<section class="blog-area section">
		<div class="container">
            <h3 class="blog-section-header" style="background-color: white;padding: 20px 0px;">ALL POSTS</h3>
			<div class="row">
                {% for post in posts %}
				    <div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">
							<div class="blog-image"><img src="{{ post.images.url }}" alt="Blog Image"></div>
							<a class="avatar" href="#"><img src="{% static 'blog/images/icons8-team-355979.jpg' %}" alt="Profile Image"></a>
							<div class="blog-info">
								<h4 class="title"><a href="{% url 'blog:blog-detail' post.pk %}"><b>{{ post.title }}</b></a></h4>
								<ul class="post-footer">
									<li><a href="#"><i class="ion-heart"></i>57</a></li>
									<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
{#									<li><a href="#"><i class="ion-eye"></i>138</a></li>#}
								</ul>
							</div>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>

			{% if is_paginated %}
                  {% include 'layout/blog/pagination.html' %}
            {% endif %}

		</div>
	</section>

{% endblock %}

