{% extends 'layout/dashboard/base.html' %}
{% load debug_tags %}

{% block main_content %}
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-note font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">Change Password</span>
            </div>
        </div>
        <div class="portlet-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" name="{{ form.old_password.name }}" class="form-control input-lg" placeholder="Current Password">
                </div>
                <span class="text-danger">{{ form.old_password.errors }}</span>
                <div class="form-group">
                    <input type="password" name="{{ form.password.name }}" class="form-control input-lg" placeholder="New Password">
                </div>
                <span class="text-danger">{{ form.password.errors }}</span>
                <div class="form-group">
                    <input type="password" name="{{ form.confirm_password.name }}" class="form-control input-lg" placeholder="Repeat Password">
                </div>
                <span class="text-danger">{{ form.confirm_password.errors }}</span>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}