{% extends 'layout/dashboard/base.html' %}

{% block main_content %}
    <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-note font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">User Profile</span>
                    </div>
                    <div class="pull-right">
                        <span class="pull-right"><a href="{% url 'dashboard:profile-edit' %}" class="btn btn-primary" >Edit Profile</a></span>
                    </div>
                </div>
                <div class="portlet-body" style="overflow: auto">
                    <div class="col-md-9">
                        <div class="information">
                            <h2>First Name: <span>{{ user.userdetails.first_name }}</span></h2>
                        </div>
                        <div class="information">
                            <h2>Last Name: <span>{{ user.userdetails.last_name }}</span></h2>
                        </div>
                        <div class="information">
                            <h2>Full Name: <span>{{ user.userdetails.full_name }}</span></h2>
                        </div>
                        <div class="information">
                            <h2>Email: <span>{{ user.email }}</span></h2>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ user.userdetails.profile_image.url }}" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
{% endblock %}